@use "../../../styles/variables"

#projects-page-container
    background-color: variables.$bg-color
    padding: 3rem
    font-family: variables.$font-main
    margin-left: 4rem
    min-height: 100vh
    width: 100%
    color: variables.$text-color
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1
        margin-bottom: 0rem
        text-align: center
        color: variables.$text-color-focus
        font-family: variables.$font-icon
        font-size: 6rem
        line-height: 7rem
        text-align: center

    #icon
        font-size: 25rem
        color: variables.$text-color-focus