@use "../../../styles/variables"
    
#home-container
    background-color: white    
    padding: 3rem
    font-size: 1.3rem
    line-height: 2rem
    text-align: justify
    font-family: variables.$font-main
    

    h1
        margin-bottom: 3rem
        text-align: center
