@use "./variables"
    
* 
    padding: 0
    margin: 0
    box-sizing: border-box
    


/* SMALL DEVICES < 600 PX */
@media only screen and (max-width: 600px)
    :root
        font-size: 14px


/* LARGE PHONES AND SMALL TABLETS */
@media only screen and (min-width: 600px)
    :root
        font-size: 15px

/* LARGE TABLETS AND SMALL LAPTOPS */
@media only screen and (min-width: 768px)
    :root
        font-size: 16px


/* LARGE LAPTOPS */
@media only screen and (min-width: 992px)
    :root
        font-size: 17px  



/* EXTRA LARGE DEVICES */
@media only screen and (min-width: 1200px)
    :root
        font-size: 1vw 