@use "../../../styles/variables"

#aside
    /* the nav bar witdh has been defined as 4rem by the margin on the app page */
    position: fixed
    display: flex
    flex-direction: column
    margin: 0
    background: variables.$bg-color-general-gradient
    width: 4rem
    height: 100vh
    transition: width 200ms ease
    color: black
    

    /* fixing logo position */
    #logo-container
        margin: 0
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        margin-bottom: 3rem
        font-family: variables.$font-icon

        #iconBox
            width: 100%
            height: 4rem
            display: flex
            justify-content: center
            align-items: center
            

            p
                font-size: 3rem

        #textBox
            display: none        

    /* fixing buttons positon */

    nav
        display: flex
        flex-direction: column
        font-family: variables.$font-main
        width: 100%

        ul
            display: flex
            flex-direction: column
            list-style: none
            
            .buttons
                display: flex
                flex-direction: row 
                padding: 1rem 0
                margin: .5rem 0
                justify-content: center
                align-items: center
                text-decoration: none

                .link
                    display: flex
                    flex-direction: row
                    text-decoration: none
                    align-items: center
                    

                    p
                        display: none
                        margin-left: .5rem
                        color: black
                        font-size: 1.3rem

                    .btn-icon
                        font-size: 2rem
                        color: black

    #theme-changer-box
        margin-top: auto
        width: 4rem
        display: flex
        align-items: center
        justify-content: center
        height: 4rem

        #theme-button
            border: none
            background-color: transparent

            p
                font-size: 2rem
                cursor: pointer




    /* --- ON HOVER --- */
    &:hover
        width: 14rem
        justify-content: left

        /* logo on hover */
        #logo-container
            justify-content: left
            
            #iconBox

        
            #textBox
                display: flex
                justify-content: left
                align-items: center
                margin-left: 0.2rem
                font-size: .75rem
                margin-right: .3rem

        
        /* buttons on hover */
        nav
            justify-content: left

            ul
                justify-content: left

                .buttons
                    display: flex
                    flex-direction: row 
                    justify-content: left
                    margin-left: .3rem

                    .link
                        display: flex
                        flex-direction: row


                        p
                            display: flex
                
            


